

<h2>Quản Trị Viên</h2>

<div>
    <p style="text-align:center"><img style="  " src="~/Assets/conten_admin/img/logo.png" w /></p>
</div>
<br />
<h2 style=" text-align:center ;color:blue">Website Quản Lý Công Việc Giảng Viên</h2>
<br />
<p style=" text-align:center"> Chào Mừng đến với website hỗ trợ quản lý công việc của giảng viên, cán bộ nhân viên trường Đại Học Cong Nghệ TP.HCM.</p>
<p style=" text-align:center">Để hỗ trợ tốt nhất cho việc đánh giá xếp loại cuối năm giảng viên, cán bộ nhân viên nên thường xuyên theo dõi thông báo <br />cũng như cập nhật tiến độ công việc để có được kết quả chính xác nhất. </p>

<p style=" text-align:center">
    Đây là cổng thông tin nội bộ của trường Đại Học Công Nghệ TP.HCM mọi thông tin là bảo mật và mọi kết quả, báo cáo đều lưu hành nội bộ.<br />
    Để thực hiện đăng ký và quản lý công việc vui lòng đăng nhập để xác nhận danh tính!
</p>

<br />
<br />
<br />
<br />