


<h2 style="text-align:center">Danh Mục Quản Lý</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_miscellaneous-52_809455.png" class="imgmg" />
                <h4>Quyết Định</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_18_939741.png" class="imgmg" />
                <h4>Quyền</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/QuanTriVien/QuanTriVien/XemChucVu">
                <img src="~/Assets/conten_admin/img/if_teacher_45036.png" class="imgmg" />
                <h4>Chức Vụ</h4>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/Admin/Loaigiangvien">
                <img src="~/Assets/conten_admin/img/if_gear-user_532766.png" class="imgmg" />
                <h4>Loại Giảng Viên</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/Admin/Namhoc">
                <img src="~/Assets/conten_admin/img/if_14_Certificate_2064489.png" class="imgmg" />
                <h4>Năm Học</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/Admin/Hocky">
                <img src="~/Assets/conten_admin/img/if_Calendersvg_1579797.png" class="imgmg" />
                <h4>Học Kỳ</h4>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/Admin/Hotro">
                <img src="~/Assets/conten_admin/img/if_conversation_job_seeker_employee_unemployee_work_2620525.png" class="imgmg" />
                <h4>Hỗ Trợ</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/Admin/Congviec">
                <img src="~/Assets/conten_admin/img/if_resolutions-23_897229.png" class="imgmg" />
                <h4>Công Việc</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/Admin/Donvi">
                <img src="~/Assets/conten_admin/img/if_Department_22141.png" class="imgmg" />
                <h4>Đơn Vị</h4>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
            <img src="~/Assets/conten_admin/img/if_list-alt_173045.png" class="imgmg" />
            <h4>Nhiệm Vụ</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_Recognition-01_2035001.png" class="imgmg" />
                <h4>Quy Định</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="~/Admin/Cbnv">
                <img src="~/Assets/conten_admin/img/if_Department_22141.png" class="imgmg" />
                <h4>Cán Bộ Nhân Vi</h4>
            </a>
        </div>

    </div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


