
<link href="~/Areas/QuanTriVien/conten_admin/giaodien.css" rel="stylesheet" />
<h2 style="text-align:center">Danh Mục Nghiệp Vụ</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_document-05_1622831.png" class="imgmg" />
                <h4>Phiếu Đăng Ký</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_skill_job_seeker_employee_unemployee_work_2620501.png" class="imgmg" />
                <h4>Xin Hỗ Trợ</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_demo_1947.png" class="imgmg" />
                <h4>Minh Chứng</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_icon-45-note-list_315167.png" class="imgmg" />
                <h4>Đánh Giá</h4>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_document-05_1622831.png" class="imgmg" />
                <h4>Phiếu Đăng Ký</h4>
            </a>
        </div>
        <div class="col-md-3 frame-menu">
            <a style="color:black" href="">
                <img src="~/Assets/conten_admin/img/if_skill_job_seeker_employee_unemployee_work_2620501.png" class="imgmg" />
                <h4>Xin Hỗ Trợ</h4>
            </a>
        </div>
       

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


