    <h2 class="text-center">Quản Lý Quyết Định</h2>

    <div id="addcbModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="add">Thêm Năm Học</h4>
                    </div>
                    <div class="modal-body">              
                        <p>Mã Năm Học : <input id="addmanamhoc" class="inputs" type="text"/></p>
                        <p>Ngày Bắt Đầu:<input id="addngaybatdau" class="inputs" type="date"/></p>
                        <p>Ngày Kết Thúc:<input id="addngaykethuc" class="inputs" type="date"/></p>
                        <p>Mô Tả : <textarea class="form-control" rows="5" id="addmota"></textarea> </p>
                    </div>
                    <div class="modal-footer" id="">
                        <button id="saveCbnv" type="button" class="btn btn-default" data-dismiss="modal">Lưu lại</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
    </div>
    <div id="editcbModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="add">Cập Nhật Thông Tin Năm Học</h4>
                    </div>
                    <div class="modal-body">
                        <input  type="hidden" id="editmanamhoc" class="inputs" type="text"/>
                        <p>Ngày Bắt Đầu:
                            <input id="editngaybatdau" class="inputs" type="text"/></p>
                        <p>Ngày Kết Thúc: 
                        <input id="editngayketthuc" class="inputs" type="text"/></p>
                        <p>Mô Tả :
                            <textarea class="form-control" rows="5" id="editmota"></textarea> </p>

                        <!-- <div style="width: 100%;display:block">
                            <div class="label-name-cbnv">
                                <label class="lable-cbnv">Số Quy Định :</label>
                                <label class="lable-cbnv">Tên CBNV : </label>
                                <label class="lable-cbnv">Loại Quyết Định: </label>
                                <label class="lable-cbnv">Ngày Ban Hành :</label>
                                <label class="lable-cbnv">Nội Dung : </label>
                                <label class="lable-cbnv">Hình Thức: </label>
                                <label class="lable-cbnv">Thời Hạn: </label>
                            </div>
                            <div class="input-content-cbnv">
                                <input id="editsoquyetdinh" class="inputs" type="text"/>
                                <select  class="inputs" id="editcbnv"></select></p>
                                <select  class="inputs" id="editloaiquyetdinh"></select></p>
                                <input id="editngayquyetdinh" class="inputs" type="text"/></p>
                                <textarea class="form-control" id="editnoidungquyetdinh" rows="5" id="comment"></textarea></p>
                                <input id="edithinhthuc" class="inputs" type="text"/></p>
                                <input id="editthoihan" class="inputs" type="text"/></p>
                            </div>
                        </div>        -->
                    </div>
                    <div class="modal-footer" id="edit3">
                        
                    </div>
                </div>
            </div>
    </div>

    <div id="detaicblModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="add">Chi Tiết Năm Học</h4>
                    </div>
                    <div class="modal-body">   
                        <fieldset disabled>    
                    <p> Mã Năm Học <input   id="detailmaloaigiangvien" class="inputs" type="text"></p>
                    <p>  Ngày Bắt Đầu : <input id="detailngaybatdau" class="inputs" type="text"/></p>
                    <p>  Ngày Kết Thúc : <input id="detailngayketthuc" class="inputs" type="text"/></p>
                    <p>  Học Kỳ Trong Năm Học <textarea class="form-control" rows="5" id="detailhocky"></textarea> </p>
                    <p>  Mô Tả :<textarea class="form-control" rows="5" id="detailmota"></textarea></p>

                    </fieldset>    
                    </div>
                    <div class="modal-footer" id="edit1">
                    </div>
                </div>
            </div>
    </div>
    <div id="deleteModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="add">Bạn Có Muốn Xóa</h4>
                    </div>
                    <fieldset disabled>
                        <div class="modal-body text-center"> 
                        Năm Học :  <input  id="deletemanamhoc"/>
                    </div>
                        </fieldset>    
                    <div class="modal-footer" id="edit2"></div>
                </div>
            </div>
    </div>
    <!-- Modal -->
    <div class="">
        <div class="container">
            <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-info fa fa-plus-square" id="addCb" onclick="themNamhoc()" type="button"> Thêm</button>
            </div>
            <div class="col-sm-6">
                <p>Tìm Kiếm: <span><input type="text" id="seach" onkeyup="seach()"/></span></p>
            </div>
            </div>
        </div>
    </div>
    <table class="table">
        <tr align='center' height='30px'>
            <td>Mã Năm Học</td>
            <td>Ngày Bắt Đầu</td>
            <td>Ngày Kết Thúc</td>
            <td></td>
        </tr>
        <tbody id="tbody">

        </tbody>
    </table>
    <ul class=pagination>
            <li id="previous-page"><a href="javascript:void(0)" aria-label=Previous><span aria-hidden=true>&laquo;</span></a></li>
    </ul>
    @section scripts{
        <script src="~/Assets/Personal/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="~/Assets/Personal/js/vendor/momen.js"></script>
    <script>
    $(document).ready(function () {
        loadcb()
       
        // $('#tbody').paginathing({
        //              perPage: 5,
        //          }); 
    })
     function getdaynow(){
      let today = new Date().toISOString().substr(0, 10);
        document.getElementById("addngaybatdau").value = 'today';
    console.log(today)  
    }
    class Namhoc {
                constructor(manamhoc,ngaybatdau,ngayketthuc,mota) {
                    this.maNamHoc=manamhoc;
                    this.ngayBatDauNamHoc=ngaybatdau;
                    this.ngayKetThucNamHoc = ngayketthuc;
                    this.moTaNamHoc=mota;
                }
            }
    function convertDatetime(dt) {
        res = dt.substring(5, 7) +"-"+dt.substring(8, 10) +  "-" + dt.substring(0, 4);
        return res;
    }
    function loadcb(){
        $.ajax({
            type: "GET",
            url: "/api/Namhoc/",
            success: function(data){
                console.log(data);
                getData(data);
            // seach(data);
            pagging(data);
            }
        })
    }
    function getData(data) {
        $("#tbody").html("");
        data.forEach(item => {
            $("#tbody").append(loadcbnv(item));        
        }); 
    }
    function loadcbnv(item) {
        detailsHtml ='<tr class="list-group">';
        detailsHtml += '<td>'+item.maNamHoc+'</td>'+
        '<td >'+convertDatetime(item.ngayBatDauNamHoc)+'</td>'+
        '<td >'+convertDatetime(item.ngayKetThucNamHoc)+'</td>'+
        '<td>'
    +'<button type="button" class=" btn btn-info fa fa-edit showcn" onclick="suaNamhoc(\''+ item.maNamHoc +'\')"><span class="tooltiptext">Sửa</span></button>|<button type="button" class="btn btn-info fa fa-file-text-o showcn" onclick="chitietNamhoc(\'' + item.maNamHoc + '\')"><span class="tooltiptext">Chi tiết</span></button>|<button type="button" class="btn btn-info fa fa-trash-o showcn" onclick="xoaNamhoc(\'' + item.maNamHoc + '\')"><span class="tooltiptext">Xóa </span></button> '
        detailsHtml +='</tr>'; 
        return detailsHtml;
    }
    function pagging(data){ 
        var numberOfItems = data.length; // Get total number of the items that should be paginated
        var limitPerPage = 7; // Limit of items per each page
        $('#tbody .list-group:gt(' + (limitPerPage - 1) + ')').hide(); // Hide all items over page limits (e.g., 5th item, 6th item, etc.)
        var totalPages = Math.round(numberOfItems / limitPerPage); // Get number of pages
        // Loop to insert page number for each sets of items equal to page limit (e.g., limit of 4 with 20 total items = insert 5 pages)
        for (var i = 1; i <= totalPages; i++) {
    $(".pagination").append("<li class='current-page'><a href='javascript:void(0)'>" + i + "</a></li>"); // Insert page number into pagination tabs
        }
        // Add next button after all the page numbers  
        $(".pagination").append("<li id='next-page'><a href='javascript:void(0)' aria-label=Next><span aria-hidden=true>&raquo;</span></a></li>");


        // Function that displays new items based on page number that was clicked   
        $(".pagination li.current-page").on("click", function() {
    // Check if page number that was clicked on is the current page that is being displayed
    if ($(this).hasClass('active')) {
        return false; // Return false (i.e., nothing to do, since user clicked on the page number that is already being displayed)
    } else {
        var currentPage = $(this).index(); // Get the current page number
        $(".pagination li").removeClass('active'); // Remove the 'active' class status from the page that is currently being displayed
        $(this).addClass('active'); // Add the 'active' class status to the page that was clicked on
        $("#tbody .list-group").hide(); // Hide all items in loop, this case, all the list groups
        var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page number that was clicked on

        // Loop through total items, selecting a new set of items based on page number
        for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
        $("#tbody .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
        }
    }

        });

        // Function to navigate to the next page when users click on the next-page id (next page button)
        $("#next-page").on("click", function() {
    var currentPage = $(".pagination li.active").index(); // Identify the current active page
    // Check to make sure that navigating to the next page will not exceed the total number of pages
    if (currentPage === totalPages) {
        return false; // Return false (i.e., cannot navigate any further, since it would exceed the maximum number of pages)
    } else {
        currentPage++; // Increment the page by one
        $(".pagination li").removeClass('active'); // Remove the 'active' class status from the current page
        $("#tbody .list-group").hide(); // Hide all items in the pagination loop
        var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected

        // Loop through total items, selecting a new set of items based on page number
        for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
        $("#tbody .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
        }

        $(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass('active'); // Make new page number the 'active' page
    }
        });

        // Function to navigate to the previous page when users click on the previous-page id (previous page button)
        $("#previous-page").on("click", function() {
    var currentPage = $(".pagination li.active").index(); // Identify the current active page
    // Check to make sure that users is not on page 1 and attempting to navigating to a previous page
    if (currentPage === 1) {
        return false; // Return false (i.e., cannot navigate to a previous page because the current page is page 1)
    } else {
        currentPage--; // Decrement page by one
        $(".pagination li").removeClass('active'); // Remove the 'activate' status class from the previous active page number
        $("#tbody .list-group").hide(); // Hide all items in the pagination loop
        var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected

        // Loop through total items, selecting a new set of items based on page number
        for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
        $("#tbody .list-group:eq(" + i + ")").show(); // Show items from the new page that was selected
        }

        $(".pagination li.current-page:eq(" + (currentPage - 1) + ")").addClass('active'); // Make new page number the 'active' page
    }
    });
    }
    function xoaNamhoc(id){ 
        console.log("ma can xoa")
        console.log(id)
        $("#deleteModel").modal("show");
        $("#deletemanamhoc").val(id);
        $("#edit2").html('<button onclick="savedelete(\''+ id +'\')" type="button" class="btn btn-default" data-dismiss="modal">Xóa</button> <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>');
    }
    function savedelete(id){
        console.log(id);
        $.ajax({
            url:'/api/Namhoc/Delete/'+id,
            type:'GET',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function(data){
            console.log(data);
            location.reload();
            alert("Đã Xóa");
            },
            error: function(){
                alert("Xóa Không Thành Công");
            }
        });
    }
    function chitietNamhoc(id){
        $("#detailmaloaigiangvien").val('');
        $("#detailngaybatdau").val('');
        $("#detailngayketthuc").val('');
        $("#detailhocky").val('');
        $("#detailmota").val('')
        $("#detaicblModal").modal("show");
        $.ajax({
            url:'/api/Namhoc/Detail/'+ id,
            type: "GET",
            success:function(data){
                console.log("chi tiet")
                console.log(data.length)
                if(data.length <0)
                {
                    
                }
                else
                {
                for(i=0;i<data.length;i++){
                console.log(data[i]);
                $("#detailmaloaigiangvien").val(data[i].maNamHoc);
                $("#detailngaybatdau").val(convertDatetime(data[i].ngayBatDauNamHoc));
                $("#detailngayketthuc").val(convertDatetime(data[i].ngayKetThucNamHoc));
                $("#detailmota").val(data[i].moTaNamHoc);
                $("#detailhocky").val(data[i].hk.maHocKy);
                $("#edit1").html('<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>');
                }
            }}
            
        })
    }
    function suaNamhoc(id){
        $("#editcbModal").modal("show");
        $.ajax({
            url:'/api/Loaigiangvien/'+ id,
            type: "GET",
            success:function(item){
                console.log("get data");
                console.log(item);
                $("#editbaohiem").val(item.baoHiem);
                $("#editmaloaigiangvien").val(item.maLoaiGiangVien);
                $("#edittenloaigiangvien").val(item.tenLoaiGiangVien);
                $("#edit3").html('<button onclick="saveedit(\''+ item.maLoaiGiangVien +'\')" type="button" class="btn btn-default" data-dismiss="modal">Lưu lại</button> <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>');
            }
        })
    }
    function saveedit(id){
        var tenloai=   $('#edittenloaigiangvien').val();
        var baohiem= $('#editbaohiem').val();
        var maloai=$('#editmaloaigiangvien').val();
        var temp = new LoaiGiangVien(maloai,tenloai,baohiem);
        console.log(temp);
            $.ajax({
                url:'/api/Loaigiangvien/Edit/'+id,
                type:'POST',
                dataType: 'json',
                data: JSON.stringify(temp),
                contentType: "application/json; charset=utf-8",
                    success: function(){
                        alert("Cập Nhật Thành Công");
                        location.reload();
                        console.log(ns);
                    },
                    error: function(){
                        alert("Cập Nhật Thất Bại")
                    }
                });
            }
    function themNamhoc(){
                $('#addmanamhoc').val('');
                $('#addmota').val('');
                $("#addcbModal").modal("show");         
            }
    $('#saveCbnv').click(function () {
        var manamhoc=   $('#addmanamhoc').val();
        var ngaybatdau= $('#addngaybatdau').val();
        var ngaykethuc= $('#addngaykethuc').val();
        var mota= $('#addmota').val();
        var temp = new Namhoc(manamhoc,ngaybatdau,ngaykethuc,mota);
        console.log(temp);
        $.ajax({
            url: "/api/Namhoc",
            type: "post",
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify(temp),
            success: function () {
                confirm("Thêm Thành Công");
                location.reload();
            },
            error: function(data){
                confirm("Lỗi Dữ liệu !!! Kiểm Tra Lại.")
            }
            });
        });
    function convetToVietnam(str) { 
        str= str.toLowerCase();
        str= str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
        str= str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
        str= str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
        str= str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
        str= str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
        str= str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
        str= str.replace(/đ/g,"d"); 
        
        str= str.replace(/-+-/g,"-");
        str= str.replace(/^\-+|\-+$/g,""); 

        return str; 
    }
    function seach(){
        $.ajax({
            type: "GET",
            url: "/api/Cbnv",
            success: function(data){
                keyOld = $("#seach").val();
                arr = $("#tbody tr");
                // console.log(arr);
                for (i = 0; i < arr.length; i++) {
                    element = arr[i].getElementsByTagName("td")[1].innerHTML;
                    tt =convetToVietnam(element); 
                    let key=convetToVietnam(keyOld);
                    console.log(tt.toUpperCase().indexOf(key.toUpperCase()));
                    if (tt.toUpperCase().indexOf(key.toUpperCase()) > -1) {
                        arr[i].style.display = "";
                    } else {
                        arr[i].style.display = "none";
                    }
                }
            }
        });
    }
    </script>
    }
