
.frame-menu {
    border: 1px solid red;
    padding-top:3px;
    
    border-radius:5px;
    display:block;
}
.imgmg {
    display: block;
    float: left;
    padding-top:6px;
    padding-left:10px;
    padding-right:5%;
}
.btn-size{
    border-right:200px;

}
.form-group {
    float:right;
}
